{{paper-input
  type=type
  class=inputClass
  label=label
  value=value
  onChange=onChange
  onFocus=onFocus
  onBlur=onBlur
  onKeyDown=onKeyDown
  required=required
  isTouched=isTouched
  customValidations=customValidations
  errors=(readonly inputErrors)
  errorMessages=errorMessages
  passThru=passThru
  onValidityChange=onValidityChange
}}

{{#ember-tether
  target='.md-input'
  targetAttachment='center right'
  attachment='middle right' }}

  <div class="layout-row">

    <div class="input-icon">

      {{paper-progress-circular class=colorClass value=strengthValue diameter=24}}
      {{#paper-tooltip position='top'}}
        Password Strength
      {{/paper-tooltip}}
    </div>

    <div class="input-icon">
      {{#if showPassword}}
        {{mdi-icon "eye-off"   fill="lightgrey" click=(action 'hide-password')}}
      {{else}}
        {{mdi-icon "eye" fill="lightgrey" click=(action 'show-password')}}
      {{/if}}
      {{#paper-tooltip position='top'}}
        Show/Hide Password
      {{/paper-tooltip}}
      </div>

    <div class="input-icon">
      {{mdi-icon "information"   fill="lightgrey" click=(action 'hide-password')}}
      {{#paper-tooltip position='bottom'}}
        Password must be strong.
      {{/paper-tooltip}}
    </div>


  </div>
{{/ember-tether}}